#map {
    height: 50vh;
}

.header {
    position: sticky;
    top: 0;
}
.header {
    font-size: larger;
    font-weight: bold;
}

.hidden {
    display: none;
}

tbody tr {
    height: 4.5rem;
}

/* tbody>tr>td * {
    margin: auto;
} */